Django>=5.0
djangorestframework
psycopg2-binary
django-cors-headers
python-dotenv
djangorestframework-simplejwt

boto3                 # MinIO (S3 SDK)
celery[redis,rabbitmq]
pika                  # RabbitMQ client

pgvector              # Postgres vector extension
sqlalchemy            # optional cho AI query
transformers          # HuggingFace
openai                # OpenAI API
drf-yasg              
django-storages

PyMuPDF
python-docx 
sentence-transformers
django-celery-beat